body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */

    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 0 50px #e9ecea;
    max-width: 1080px; /* Ensure the container doesn't exceed 1080px */
    margin: 0 auto; /* Center the container horizontally */
    
}

header {
    background-color: #ffffff;
    color: #333;
    font-size: 14px;
    padding: 20px 0 30px 0;
    position: fixed;
    top: 0;
    width: 1080px;
    z-index: 9999;
}
.logo {
    width:120px;
    height: 120px;
}
.logo-container {
    padding: 0px 0 20px 0;
    text-align: center;
}
.header-container {
    text-align: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(5, 99, 206); /* color on hover */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 1080px;
    text-align: center;
    z-index: 9999;
}

.content {
    padding-top: 90px;
    padding-bottom: 40px;
    
    
}

.tab-content {
    padding: 0px;
    text-align: center;
    background-color: #fff;
    margin-top:120px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-height: 800px;  /* Add spacing to extend the content place */
    flex-grow: 1;
    background-color: aqua;
}

.split-container {
    display: flex;
}

.left-content {
    width: 500x;
    background-color: #cb0808;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(97, 11, 236, 0.1);
}

.right-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 5px;
    background-color: #d30808;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
