<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/css/style.css">
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FE96GTPFL8">
</script>
</head>

<body>
  <header>
    <div class="logo-container">
      <a href="/"><img class="logo" src="/images/logo.png" alt="Logo"></a>
    </div>
  </header>
  <div class="login-image">
    <a href="/"><img class="login-icon" src="/images/loginicon.png" alt="Logo"></a><br>
  </div>
    <div class="login-buttons">
      <button class="navigate-btn" onclick="window.location.href='/index'">Verify Claims</button>
      <button class="navigate-btn" onclick="window.location.href='/submit'">Submit a Claim</button>
    </div>
  <footer>
    <p>&copy; 2024 Grantopia. All rightsssssss reserved.</p>
    <div class="disclaimer">
        <p>Disclaimer: This website is created for learning purposes only. The information provided here should not be considered professional advice. Please note that we make no guarantees regarding the accuracy, completeness, or reliability of the contents of this website. Any actions you take based on the contents of this website are at your own risk. We are not liable for any losses or damages incurred from the use of this website.</p>
    </div>
</footer>
</body>
</html>
