/*
npm install pg express ejs dotenv
node server.js

*/

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the full height of the viewport */

    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    box-shadow: 0 0 50px #e9ecea;
    max-width: 1280px; 
    margin: 0 auto; /* Center the container horizontally */
    
}

header {
    background-color: #ffffff;
    color: #333;
    font-size: 16px;
    padding: 40px 0 25px 0; /* Top Right Bottom Left*/
    position: fixed;
    top: 0;
    width: 1280px;
    z-index: 9999;
}
.logo {
    width:auto;
    height: 90px;
}
.logo-container {
    padding: 0px 0 20px 0;
    text-align: center;
}
.header-container {
    text-align: left;
}

/* TOP HORIZONTAL Navigation*/
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav ul li a {
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
nav ul li a:hover {
    color: rgb(113, 2, 2);
}

.content {
    padding-top: 80px;
    padding-bottom: 40px;
}

.tab-content {
    padding: 0px;
    text-align: center;
    background-color: #fff;
    margin-top:120px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    min-height: 800px;  /* Add spacing to extend the content place */
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.321);
}

.split-container {
    display: flex;
}

.left-content {
    width: 500x;
    background-color: #74a0f0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(97, 11, 236, 0.1);
}

.right-content {
    flex-grow: 1;
    margin-left: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}


footer {
    background-color: rgb(113, 2, 2);
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 1280px;
    text-align: center;
    z-index: 9999;
}



/* Style the table with class "projecttable" */
.projecttable {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
}

/* Style the table header */
th {
    background-color: #f2f2f2;
    border: 1px solid black;
    font-weight: bold; 
    text-align: left;
    font-size: small;
    padding: 8px;
}

/* Style the table rows */
tr:nth-child(even) {
    background-color: rgb(232, 232, 227); /* White cell background */
}

/* Style the table data cells */
td {
    border: 1px solid black; 
    text-align: left;
    font-size: small;
    padding: 8px;
    color: black; 
}

